.fieldset {
	height: 80px;
	border: 2px solid aqua;
	box-shadow: 1px 10px 15px black;
}
.input {
	text-align: center;
	width: 550px;
}
.button {
	height: 100%;
	border-radius: 15px;
	font-size: 20px;
}

form {
	display: grid;
	grid-template-columns: 3fr 1fr;
}
